body {
    font-family: Arial, sans-serif;
    background-color: #809974;
    margin: 0;
    padding: 20px;
}

.book_card {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 15px;
    margin: 10px;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.1);
    background-color: #9fa735;
}

.book_card {
    font-size: 20px;
    margin-bottom: 10px;
}
.book_card p {
    margin: 5px 0;
}

.book_card button{
    padding: 8px 12px;
    margin-right: 10px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}
form {
    margin-bottom: 20px;
}
form input,submit,button {
    padding: 8px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}
h1 {
    color: #014123;
    text-align: center;
    margin-bottom: 20px;
    font-size: 36px;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.3);
    font-family: Georgia, 'Times New Roman', Times, serif;
}